body{
    padding: 5%;
    display: block;
    margin: 0px; 
    height: 100%;
     background-color: rgb(14, 14, 14);
}
img{
    width: 750px;
    aspect-ratio: auto 585 / 390;
    height: 500px;
}
img{
    display: block;
    -webkit-user-select: none;
    margin: auto;
    cursor: zoom-in;
    background-color: hsl(0, 0%, 90%);
    transition: backgroung-color 300ms;
}
img{
    overflow-clip-margin: content-box;
    overflow: clip;
}