.header{
    text-align: center;
    text-transform: uppercase;
    padding: 32px;
    background-color: #0a0a23;
    color: #fff;
    border-bottom: 4px solid #fdb347;
}
* {
    box-sizing: border-box;
    text-shadow: none!important;
}
header{
    display: block;
}
body{
    display: block;
    margin: 0;
    font-family: sans-serif;
    background: #f5f6f7;
}
.gallery{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
}
.gallery::after{
    content:"";
    width: 350px;
}
.gallery img{
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}
img{
    overflow-clip-margin: content-box;
    overflow: clip;
}
.manaco-aria-container{
    clip: rect(1px,1px,1px,1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute!important;
    width: 1px;
}
.monaco-aria-container{
    left: -999em;
}