#container{
    border: 2px solid black;
    width: 53%;
    text-align: center;
    margin: auto;
    padding: 5px;
}
div{
    display: block;
}
body{
    font-family:"open sans",sans-serif;
}
header h1{
    margin: 0px;
}
header h3{
    display: flex;
    justify-content: space-between;
    margin: 0px;
    font-size: 16px;
}
header p{
    margin: 0px;
    text-align: left;
}
.bold{
    font-weight: 800;
    margin: 0px;
}
.divder{
    border: 1px solid #888989;
}
.small-divder{
    background-color: 1px solid #888989
    
    display:block;

}
.large-divder{
    height: 10px;
    background-color: black;
    margin: 0px;
}
section p{
    margin: 0px;
    text-align: left;
    font-size: 14px;
}
section h3{
    display: flex;
    justify-content: space-between;
    margin: 0px;
    font-size: 30px;
}
.medium-divder{
    height: 7px;
    background-color: black;
    margin: 0px;
}
#subtitle{
    margin: 0px;
    border:ipx solid #888989;
    text-align: right;
    display: block;
    
}
main p{
    margin: 1px;
    display: block;
    display: flex;
    justify-content: space-between;
}
p{
    margin: 0px;
}
.note{
   font-size: 0.6rem;
    margin: 5px 0;
    padding: 0 8px;
    text-indent: -8px;
}
